<% include ../views/partials/header %>
  <form method="post" action="/todos">
    <div>
      <label> Todo Name</label>
      <input type="text" name="title" placeholder="Add Todo">
    </div>
    <div>
      <label> Todo Body</label>
      <textarea name="body" cols="30" rows="10" placeholder="Add Body"></textarea>
    </div>
    <button type="submit">Submit</button>
  </form>
  <ul>
    <% todos.forEach(function(todo) {%>
      <li><%= todo.title %> - <%= todo.body %> <a href="#" class="delete-todo">Delete</a></li>
    <% }) %>
  </ul>
<% include ../views/partials/footer %>
